body {
  background-color: #F7F6F8;
}
.dropdown-toggle::after {
  display: none !important;
}
/* NAVBAR */

.form input {
  width: 100%;
  border: none;
}
.form {
  background-color: white;
  width: 60%;
  border: 1.5px solid  rgb(166, 189, 132);
  padding: 0.5em;
  border-radius: 20px;
  outline: none;
}
.icon {
  cursor: pointer;
}
.searchIcon{
color:  rgb(166, 189, 132);
}
.navIcon {
  font-size: 30px;
}
.logo {
  position: relative;
  font-size: 35px;
}
.logo img {
  right: 25px;
  position: absolute;
  width: 25px;
}
.login {
  font-weight: bold;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  background-color: orange;
  border: none;
}
.login:hover {
  background-color: rgb(255, 177, 33);
}
.login:focus{
  background-color:none !important;
}
.dropButton {
  padding: 0 !important;
  padding: 0.5em 1em !important;
  font-weight: bold !important;
  color: white !important;
  background-color: rgb(211, 224, 191) !important;
  border-radius: 20px !important;
  border: none !important;
}
.dropButton:hover {
  background-color: rgb(144, 193, 70) !important;
}
nav {
  z-index: 100;
  background-color: white;
  top: 0;
  position: sticky;
  font-weight: bold;
}
.logo {
  color: orange;
}
.logo span {
  color: rgb(254, 194, 82);
}
.orange{
  color:orange
}
/* RECIPE */

.recipeCard {
  background-color: white;
box-shadow: 1px 1px 10px 5px #eeeeee;
border-radius: 10px;
}
.recipeImg{
  position: relative;
}
.recipeCard img{
  border-radius: 10px 0 0 10px;
}
.like{
  position: absolute;
  top:5px;
  right: 5px;
  color: white;
}

.buttonRecipe{
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding :0.5em 0.8em;
  background-color: orange;
  cursor: pointer;
}
.buttonRecipe:hover{
  background-color: rgb(253, 176, 33);
}
.pRecipe p{
  color: orange;
 font-size: 3em;
font-style:oblique;
}
.pRecipe .dropFilter{
  border: 1px solid  #eeeeee !important;
  padding :0.5em 1em !important;
  background-color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
}
.ic{
  color: orange;
}
.pRecipe .dropFilter:hover{
  border: 1px solid orange !important;
}
.numberPage{
  color: orange;
  background-color: white;
  border: 1px solid #eeeeee ;
}
.numberPage:hover{
  border: 1px solid orange;
  cursor: pointer;
}
.numberPageDisactive{
  color: grey;
  background-color: white;
  border: 1px solid #eeeeee ;
}
.numberPageDisactive:hover{
  cursor: pointer;
}
.filter{
  width: 200px !important;
  border: 1px solid #eeeeee;
}
.filter div div{
  border-left: 2px solid orange ;
}
.filter span:hover{
cursor: pointer;
border-bottom:1px solid black ;
}
/*LOGIN*/
.register:hover{
cursor: pointer;
text-decoration: underline;
}