body {
  background-color: #f7f6f8;
}
.dropdown-toggle::after {
  display: none !important;
}
/* NAVBAR */

.form input {
  width: 100%;
  border: none;
}
.form input:focus {
outline: none !important;
}
.form {
  background-color: white;
  width: 60%;
  border: 1.5px solid rgb(166, 189, 132);
  padding: 0.5em;
  border-radius: 20px;
  outline: none;
}
.icon {
  cursor: pointer;
}
.searchIcon {
  color: rgb(166, 189, 132);
}
.navIcon {
  font-size: 30px;
}
.logo {
  position: relative;
  font-size: 35px;
}
.logo img {
  right: 25px;
  position: absolute;
  width: 25px;
}
.login {
  font-weight: bold !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: orange !important;
  border: none !important;
}
.login:hover {
  background-color: rgb(255, 177, 33) !important;
}

.dropButton {
  padding: 0 !important;
  padding: 0.5em 1em !important;
  font-weight: bold !important;
  color: white !important;
  background-color: rgb(211, 224, 191) !important;
  border-radius: 20px !important;
  border: none !important;
}
.dropButton:hover {
  background-color: rgb(144, 193, 70) !important;
}
nav {
  z-index: 100;
  background-color: white;
  top: 0;
  position: sticky;
  font-weight: bold;
}
.logo {
  color: orange;
}
.logo span {
  color: rgb(254, 194, 82);
}
.orange {
  color: orange;
}
/* RECIPE */

.recipeCard {
  background-color: white;
  box-shadow: 1px 1px 10px 5px #eeeeee;
  border-radius: 10px;
}
.recipeImg {
  position: relative;
}
.recipeCard img {
  border-radius: 10px 0 0 10px;
}
.like {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
}

.buttonRecipe {
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding: 0.5em 0.8em;
  background-color: orange;
  cursor: pointer;
}
.buttonRecipe:hover {
  background-color: rgb(253, 176, 33);
}
.pRecipe p {
  color: orange;
  font-size: 3em;
  font-style: oblique;
}
.pRecipe .dropFilter {
  border: 1px solid #eeeeee !important;
  padding: 0.5em 1em !important;
  background-color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
}
.ic {
  color: orange;
}
.pRecipe .dropFilter:hover {
  border: 1px solid orange !important;
}
.numberPage {
  color: orange;
  background-color: white;
  border: 1px solid #eeeeee;
}
.numberPage:hover {
  border: 1px solid orange;
  cursor: pointer;
}
.numberPageDisactive {
  color: grey;
  background-color: white;
  border: 1px solid #eeeeee;
}
.numberPageDisactive:hover {
  cursor: pointer;
}
.filter {
  width: 250px !important;
  border: 1px solid #eeeeee;
}
.filter > div > div {
  font-weight: bold;
  border-left: 3px solid orange;
}
.filter span:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*LOGIN*/
.register:hover {
  cursor: pointer;
  text-decoration: underline;
}
.disconnect div:hover {
  cursor: pointer;
  text-decoration: underline;
}
.disconnect {
  text-align: center;
}

.background-image {
  background-image: url("https://placekitten.com/1000");
  opacity: 1;
  position: absolute;
}

.formAuth {
  width: 350px;
}

.carosello {
  width: 400px !important;
  height: 400px !important;
}
.jumboNav div:hover {
  text-decoration: underline;
}
.jumboNav div {
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}
.dropMenuHome {
  width: 250px !important;
}
.dropMenuHome > div > div {
  border-left: 3px solid rgb(144, 193, 70);
}
.dropMenuHome div div > div:hover {
  cursor: pointer;
  text-decoration: underline;
}
.card {
  position: relative;
  border-radius: 20px;
  width: 200px;
  background-color: white;
  box-shadow: 1px 1px 10px 5px #eeeeee;
  border: none;
}
.card img {
  border-radius: 20px 20px 0 0;
  width: 200px;
}
.card > div {
  font-weight: 800;
  font-style: oblique;
}
.container div > h2 {
  color: orange;
  font-style: oblique;
  font-weight: 700;
}
.heart-icon {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}
.scopriButton {
  font-weight: normal !important;
  width: 75%;
}
.scopriButton:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer {
  border-top: 1px solid rgb(221, 221, 221);
}
.textFooter:hover {
  cursor: pointer;
}
.sidebarContent{
  height: 100%;
}
.sidebarContent>div>div:hover{
  cursor: pointer;
}
.sidebarBack{
  font-weight: bold;
  background-color: orange !important;
}